NODE_ENV='development'
APP_NAME='boilerplate'
APP_VERSION='1.0.0'
APP_HOST='localhost'
PORT='8848'

LOGGING_DIR='logs'
LOGGING_LEVEL='debug'

DB_CLIENT='pg'
DB_HOST='hostname'
DB_PORT='1000'
DB_NAME='databasename'
DB_USER='root'
DB_PASSWORD='password'

JWT_SECRET='secret'
TOKEN_EXPIRES='864000'

PUBLIC_PATH='/public'
ROOT_PATH='/Volumes/D/my-projects/express-boilerplate'
TEMP_DIR='/tmp'
